#customers {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 75%;
    margin-left: 8%;
    margin-top: 6%;
    border: transparent;
  }
  #customers td
    {
      padding: 8px;
      text-align: center;
    }

    #customers tr:nth-child(even) {
      background-color: #f2f2f2;
    }

    #customers tr:hover {
      background-color: #ddd;
    }

    #customers th {
      padding: 12px;
      text-align: center;
      background-color:black;
      color: white;
    }
    #addpro{
    width: 180px;
    height: 40px;
    
    border: none;
    border-radius: 25px;
    background-color: transparent;
    border: 1px solid grey;
    
    /* margin-right: -650px; */
    
    font-size: 20px;
    }
    #search{
      float: left;
      
      width: 250px;
      height: 30px;
      border-radius: 15px;
      border: 1px solid grey;
      text-align: center;
      font-size: 20px;
    }
    li{
      float: left;
      list-style: none;
      font-size: 13px;
      padding-left: 100px;
  }